/* Search input styling */
.search-input {
    width: auto;
    padding: .25rem;
    margin:.2rem .2rem;
    /* margin-top: .25rem; */
    box-sizing: border-box;
    background-color: var(--background-secondary);
    border: 1px solid var(--light-border-color);
    border-radius: 4px;
    font-size: 14px;
    color: var(--text-primary);
    transition: all 0.2s ease-in-out;
}

.search-input::placeholder {
    color: var(--text-secondary);
    opacity: 0.7;
}

.search-input:focus {
    outline: none;
    border-color: var(--button-hover-background);
    box-shadow: 0 0 0 1px var(--button-hover-background);
}

.search-input:hover {
    border-color: var(--button-hover-background);
} 