/* Container for filter tags */
.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    padding: 0.25rem;
    border: 1px solid #666;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.2);
    height: 150px;
    overflow-y: auto;
    margin: 0 -0.25rem;
    width: calc(100% + 0.5rem);
    align-content: flex-start;
}


/* Scrollbar styling */
.tag-container::-webkit-scrollbar {
    width: 8px;
}

.tag-container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.tag-container::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 4px;
}

.tag-container::-webkit-scrollbar-thumb:hover {
    background: #888;
}