:root {    
    --very-light-border-color: #546e92; /* Light gray */
    --light-border-color: #324b6e; /* Light gray */
    --dark-border-color: #080e18; /* Dark gray */
    --dark-background-color: rgba(0, 0, 0, 0.2); /* Dark background */
    --light-background-color: rgba(255, 255, 255, .9); /* Light background */
    --background-secondary: #131c29; /* Example color */
    --background-tertiary: #b6c5dd; /* Example color */
    --accent-color: #2a324d; /* Example color */
    --button-background: #2a324d;
    --button-hover-background: #49588d;
    --button-active-background: #49588d;

    --dark-text-primary: #000000;
    --text-primary: #ffffff;
    --text-secondary: #e90000;
    --text-placeholder: #575757;
} 