.shop-generator {
    display: flex;
    width: 100%;
    height: calc(100vh - 3rem); /* Account for navbar */
    gap: 1px;
    background-color: var(--light-border-color);
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}


.filter-grid-content {
    max-height: 10rem;
    overflow-y: auto;
    /* For Firefox */
    scrollbar-width: thin;
    scrollbar-color: #666 #333;
    padding: 0.3rem;
    margin-top: 0.2rem;    
    border: 1px solid var(--dark-border-color);
    background-color: var(--background-secondary);
    border-radius: 0.5rem 0.5rem 0 0.5rem;
}

/* For Webkit browsers (Chrome, Safari, etc.) */
.filter-grid-content::-webkit-scrollbar {
    width: 8px;
}

.filter-grid-content::-webkit-scrollbar-track {
    background: #333;
    border-radius: 4px;
}

.filter-grid-content::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 4px;
}

.filter-grid-content::-webkit-scrollbar-thumb:hover {
    background: #888;
} 