.save-shop-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
    transition-duration: 0.4s;
}

.save-shop-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
} 