.tab-shop-details {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    padding: .2rem;
    height: 100%;
    
}

.shop-details-actions {
    display: flex;
    gap: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--light-border-color);
}


.scrollable {
    overflow-y: auto;
    flex-grow: 1;
} 