.long-detail-container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    border: 1px solid var(--dark-border-color);
    border-radius: 6px;
    background-color: var(--background-secondary);
    box-sizing: border-box;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.95);
    max-width: 100%;
    /* margin: 0.5rem auto; */
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    width: 95%;
}

.long-detail-block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0.5rem 0;
}

.long-detail-title {
    margin-bottom: 0.2rem;
    font-size: .9rem;
    font-weight: bold;
}

.long-detail-input {
    width: 100%;
    resize: vertical;
    padding: 0.5rem;
    border: 1px solid var(--light-border-color);
    border-radius: 4px;
    background-color: var(--light-background-color);
    color: var(--dark-text-primary);
    transition: border-color 0.2s ease;
    font-size: 0.9rem;
    box-sizing: border-box;
    min-height: 40px;
}

.long-detail-input:focus {
    outline: none;
    border-color: var(--primary-color);
}

.long-detail-input::placeholder {
    font-weight: normal;
    font-style: oblique;
    opacity: 0.7;
} 